 /*--- Import reset ----*/
 
 @import url(reset.css);
  
 
 body{
	background-color:#111;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	color:#222;
 }
 
 
 .clear-fix{
	clear:both;
	content: "";
 }
 
 .left{
	float:left;
 }
 
 .right{
	float:right;
 }
 .hide{
	visibility:hidden;
	display:none;
 }
 
 .show{
	visibility:show;
	display:block;
 }
 
 h1{
	padding:20px;
	font-size:3em;
	font-weight:bold;
 }
 
 h2{
	padding:10px;
	font-size:2em;
	font-weight:bold;
 }
 
 a{
	text-decoration:none;
 }
 
 #wrapper{
	margin:auto;
	width:850px;
 }
 
 /*--- Main Navigation styling ----*/
 
 
 #menu-button{
	position:fixed;
	z-index:999;
	top:0px;
	left:0px;
	text-align:center;
	width:100px;
	line-height:30px;	
	background-color:#000;
	color:#fff;
	border:1px solid #fff;
	cursor:pointer;	
 }

 #main-nav{ 
	position:fixed;
	top:0;
	left:0;
	opacity:0.8;
	z-index:997;
 }
 
 #main-nav ul{
	background-color:#CC3300;
	display:block;
	overflow:auto;	
 }
 
 #main-nav ul li{
	text-align:center;
	width:100px;
	line-height:30px;
	border:1px solid #fff;
	float:left;		
 }
 
 #main-nav ul li:nth-child(odd){
	clear:left;
}
 
 #main-nav ul li a{
	color:#fff;
	font-weight:bold;
 } 
 
 

/*--- News page styling ----*/
 
 .news-container{	
	padding-top:20px;
 }
 
 .news-container h1, .anim-container h1{
	color:#FDFDFD;
	font-size:3.5em;
 }
 
 .news-container-inner{
	background-color:#FDFDFD; 
	overflow:auto;
 }
 
 .news-link-container{
	width:33.33%;
	height:200px;
	float:left;
	position:relative;
 }
  
.color-layer{
 	opacity:0.5;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0px;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
 }
 
 .news-container-inner .local{
	background:url(../img/corkcity.jpg) no-repeat center;	
	background-size:cover;
 }

.local .color-layer{
	background-color:red;
} 

 .news-container-inner .gigs{
	background:url(../img/corkcity.jpg) no-repeat center;
	background-size:cover;	
 }
 .gigs .color-layer{
	background-color:green;
} 

  .news-container-inner .jobs{
	background:url(../img/corkcity.jpg) no-repeat center;
	background-size:cover;
 }
 .jobs .color-layer{
	background-color:blue;
} 

.news-link-container:hover .color-layer{
	opacity:0.8;
}
 
 .news-link-container  h2 {
	color: #fff;
	top:0;
	left:0;
	position:relative;
	z-index:999;
 } 
 
 .days-old{
	position:absolute;
	bottom:0;
	right:0;
	padding:0.3em;
	background-color:#fff;
	color:#000;
	font-weight:bold;
	opacity:0.5;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

 .news-content{
	padding:2em;
 }
 
.col-3 {
    -webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
	-webkit-column-gap: 20px; 
    -moz-column-gap: 20px; 
    column-gap: 20px;
}

.col-3 p{
	padding:10px;
}

.social{
	padding-bottom:20px;
}

/*--- Social media buttons styling ----*/

.social a{
	width:48px;
	height:48px;
	float:left;
	margin:5px;
	opacity:0.6;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.social a:hover{
	opacity:1;
}
#facebook{
	background:url(../img/fb.png) no-repeat center;
}
#twitter{
	background:url(../img/tw.png) no-repeat center;
}

#googleplus{
	background:url(../img/gp.png) no-repeat center;
}
 
/*--- User profiles page styling ----*/
  
.container{
	text-align:center;
	margin:50px auto 10px auto;
	padding-bottom:30px;
	background-color:#FDFDFD; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
	box-shadow:1px 1px 5px 1px rgba(0,0,0,0.75);
 }
 

#users{	
	display:inline-block;
	margin:-30px 20px 30px 50px;
}

#users li{
	float:left;
	margin:0 30px 0 0;
}

 #users .data{
	background-color:#222;
	width:100px;
	height:100px;
	text-align:center;
	line-height:100px;
	font-size:0.75em;
	font-weight:bold;
	color:#FDFDFD;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
 }
 
  #users img{
	background-color:#999;
	width:80px;
	height:80px;
	position:relative;
	top:50px;	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
 }
 
 #users li:nth-child(odd) img{
	left:-50px;
 }
 
 #users li:nth-child(even) img{
	left:50px;	
 }
 
 #users li:nth-child(odd){
	clear:both;
 }
 
 /*--- Animation page styling ----*/
 
 
 .anim-container{
	padding-top:20px;
 }
 
 .text-container{
	position:relative;	
	height:200px;
 }
 
 .anim1{
	position:absolute;
	top:0;
	left:0;	
 }
 
 .anim1 h1{
	color:#fff;
	font-size:7em;
 }
 
 .anim2{
	position:absolute;
	top:0;
	left:0;
	z-index:990;
	height:0px;
	overflow:hidden;
	-webkit-animation: slide 10s infinite;
    -moz-animation: slide 10s infinite;
    animation: slide 10s infinite;;
 }
 
 .anim2 h1{
	color:#ff0000;
	font-size:7em;
 }
 
 @-webkit-keyframes slide{
	0%{height:0%;}
	50%{height:100%;}
	100%{height:0%;}
}

@-moz-keyframes slide{
	0%{height:0%;}
	50%{height:100%;}
	100%{height:0%;}
}

@keyframes slide{
	0%{height:0%;}
	50%{height:100%;}
	100%{height:0%;}
}
 
 
 .toaster-holder{
	 position:absolute;
	 right:-100px;
	 top:-100px;
	 z-index:999;
	-webkit-animation: animate_2 10s infinite;
    -moz-animation: animate_2 10s infinite;
    animation: animate_2 10s infinite;
 }
 .toaster{
	z-index:999;
	background:url(../img/toaster-sprite.gif) no-repeat left center;
	-webkit-animation: fly .8s steps(4) infinite;
    -moz-animation: fly .8s steps(4) infinite;
    animation: fly .8s steps(4) infinite;
	width:64px;
	height:64px;
 }
 
 @-webkit-keyframes animate_2{
	100%{right:1500px;top:600px;}
}

@-moz-keyframes animate_2{
	100%{right:1500px;top:600px;}
}

@keyframes animate_2{
	100%{right:1500px;top:600px;}
}

@-webkit-keyframes fly {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

@-moz-keyframes fly {
   from { background-position:    0px; }
     to { background-position: -256px; }
}


@keyframes fly {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

.sign{
	width:100px;
	height:80px;
	position:absolute;
	top:100px;
	right:80px;
	background-color:#ff0000;
	-moz-animation: 3s ease 0s normal none infinite sway2;
    -moz-transform-origin: 50% 50%;
    -webkit-animation:sway2 3s infinite ease-in-out;
    -webkit-transform-origin:50% 50%;
    animation:sway2 3s infinite ease-in-out;
	transform-origin:50% 50%;
	font-size:1.75em;
	color:#fff;
	line-height:80px;
	text-align:center;
	border:1px groove #ccc;
}

@-webkit-keyframes sway2{
	0%{-webkit-transform:rotate(3deg);right:80px;}
    50%{-webkit-transform:rotate(3deg);right:90px;}
    100%{-webkit-transform:rotate(3deg);right:80px;}
}

@-moz-keyframes sway2{
	0%{-moz-transform:rotate(-3deg);right:80px;}
    50%{-moz-transform:rotate(3deg);right:90px;}
    100%{-moz-transform:rotate(-3deg);right:80px;}
}

@keyframes sway2{
	 0%{transform:rotate(-3deg);right:80px;}
    50%{transform:rotate(3deg);right:90px;}
    100%{transform:rotate(-3deg);right:80px;}
}

 .chain{
	background:url(../img/chain.png) no-repeat top;
	width:70px;
	height:140px;
	position:absolute;
	top:0;
	right:100px;
	 -moz-animation: 3s ease 0s normal none infinite sway;
    -moz-transform-origin: center top;
    -webkit-animation:sway 3s infinite ease-in-out;
    -webkit-transform-origin:top;
    animation:sway 3s infinite ease-in-out;
	transform-origin:top;
 }
 
@-webkit-keyframes sway{
	0%{-webkit-transform:rotate(-3deg)}
    50%{-webkit-transform:rotate(3deg)}
    100%{-webkit-transform:rotate(-3deg)}
}

@-moz-keyframes sway{
	0%{-moz-transform:rotate(-3deg)}
    50%{-moz-transform:rotate(3deg)}
    100%{-moz-transform:rotate(-3deg)}
}


@keyframes sway{
	 0%{transform:rotate(-3deg)}
    50%{transform:rotate(3deg)}
    100%{transform:rotate(-3deg)}
}
 
 .scene{	
	width:700px;
	height:200px;
	border:1px solid #999;
	margin:auto;
	position:relative;
	background:url(../img/landscape.png) no-repeat top;
	background-size:cover;
	overflow:hidden;
 }
 
 .cloud{
	background:url(../img/cloud.png) no-repeat top;
	background-size:cover;
	width:100px;
	height:70px;
	position:absolute;
	right:-100px;
	top:5px;
	-webkit-animation: float1 20s infinite;
    -moz-animation: float1 20s infinite;
    animation: float1 20s infinite;
 }
 
 @-webkit-keyframes float1{
	100%{right:750px;}
}

@-moz-keyframes float1{
	100%{right:750px;}
}

@keyframes float1{
	100%{right:750px;}
}
 
  .cloud2{
	background:url(../img/cloud.png) no-repeat top;
	background-size:cover;
	width:70px;
	height:50px;
	position:absolute;
	right:-100px;
	top:20px;
	-webkit-animation: float1 40s infinite;
    -moz-animation: float1 40s infinite;
    animation: float1 40s infinite;
 }
 

 

 
 
 /*--- copyright Text --- */
 
 .copy{
	text-align:center;
	font-size:0.75em;
 }
 
/*--- Media Queries --- */

@media all and (max-width:1000px){
	#wrapper{
		width:90%;
	}
}

@media all and (max-width:700px){
	h2{
		font-size:1.5em;	
	}
	
	.col-3 {
    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
	-webkit-column-gap: 0; 
    -moz-column-gap: 0; 
    column-gap: 0;
	}
	
	.round{
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
 	
	#menu-button{
		position:relative;
		text-indent:-99999px;
		display:block;
		margin-top:20px;
		width:40px;
		height:40px;
		background-color:#CC3300;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		cursor:pointer;
		overflow:hidden;
		line-height:1em;
		border:0;		
	}
	
	#line-container{
		position:relative;
		top:-7px;
		left:10px;	
	 }
	 
	 #line-container span{
		display:block;
		width:20px;
		height:4px;
		background-color:#000;
		margin-top:3px;
	} 
	
	#main-nav{
		margin-top:-70px;
		position:relative;
		opacity:1.0;		
	}
	
	#main-nav ul{			
		font-weight:bold;
		margin-top:50px;
		text-align:center;		
		-webkit-border-radius: 20px;
		-webkit-border-top-left-radius: 0;
		-moz-border-radius: 20px;
		-moz-border-radius-topleft: 0;
		border-radius: 20px;
		overflow:hidden;
		
	}
 
	 #main-nav ul li{
		width:100%;		
		float:none;
		padding:5px;
		display:block;
		font-size:1.5em;
		border:0;
		border-bottom:1px solid #000;		
	 }
	 
	 #main-nav ul li:first-child{
		display:none;
		visibility:hidden;
	 }
	 
	  #main-nav ul li:nth-child(odd){
		clear:none;
	}
	 
	 
	 #main-nav ul li:last-child{
		border:0;
	 }
	 
	 .news-link-container:first-child{
		float:none;
		width:100%;
	}
	.news-link-container:nth-child(n+2){
		width:50%;
	}
	
	#users li{
		float:none;
	}
	
	
}

@media all and (max-width:350px){
	
	.container{		
		margin-top:30px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow:none;		
	}
	
	 .news-link-container:first-child{
		float:none;
		width:100%;
	}
	.news-link-container:nth-child(n+2){
		float:none;
		width:100%;
	}


	#users{
		margin-top:-70px;		
	}
	#users li{
		float:none;
		margin-bottom:-70px;
	}
	#users .data{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;	
		padding:100px 5px 5px 5px;
		height:20px;
		line-height:1em;
	}
	#users img{
		top:90px;
		left:0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;		
		border:1px solid #fff;
	}
	#users li:nth-child(odd) img{
	left:0;
	}
 
	#users li:nth-child(even) img{
	left:0;	
 }
}
 
 