img
{
position: fixed;
right:100px;
top:100px;


input:invalid 
{
background-color : #ff0000;
}

input:valid
{
background-color : #99ff99;
}


td{
	border:1px solid #999;
}

body{
	background-color:#000;
}